$c-green-primary: var(--wp--preset--color--c-green-primary);
$c-green-secondary: var(--wp--preset--color--c-green-secondary);
$c-green-tertiary: var(--wp--preset--color--c-green-tertiary);
$c-theme-black: var(--wp--preset--color--c-theme-black);
$c-theme-dark-grey: var(--wp--preset--color--c-theme-dark-grey);
$c-theme-medium-grey: var(--wp--preset--color--c-theme-medium-grey);
$c-theme-off-white: var(--wp--preset--color--c-theme-off-white);
$c-theme-beige: var(--wp--preset--color--c-theme-beige);