$c-green-primary: #70c174;
$c-green-secondary: #bef3c0;
$c-green-tertiary: #eff7f2;
$c-theme-black: #0b0706;
$c-theme-dark-grey: #1d2130;
$c-theme-medium-grey: #525560;
$c-theme-off-white: #ebf0f9;
$c-theme-beige: #E5E5E5;